<div class="home-page">

  <div data-dojo-type="../../ui/_include/widget/NavigationWidget" data-dojo-props="selected:'navHome'" data-dojo-attach-point="navigation"></div>

  <!-- Begin page content -->
  <div class="container">
    <div class="jumbotron">
      <h1 id="title">{translate:Welcome}</h1>

      <div class="btn-toolbar">
        <div class="pull-left"><p>
          <a href="#" data-dojo-attach-event="onClick:_navigateContent">{translate:Manage Content} &raquo;</a>
          <a href="#" data-dojo-attach-event="onClick:_navigateMedia">{translate:Media Pool} &raquo;</a>
        </p></div>
        <div class="pull-right">
          <span data-dojo-attach-point="statusNode"></span>
          <span data-dojo-attach-point="categoryControl"></span>
          <span data-dojo-attach-point="searchControl"></span>
        </div>
      </div>

      <div id="map" style="height: 480px;"></div>
      <div data-dojo-attach-point="mapErrorNode"></div>
      <hr>

      <p>{translate:Last Updates}</p>
      <div data-dojo-attach-point="toolbarNode"></div>
      <div data-dojo-attach-point="gridNode"></div>

    </div>
  </div>
  <!-- End page content -->

</div>
